{% extends 'base.html' %}
{% block content %}

<br><br>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p align="justify">

                    <h3>سفارشات جاری</h3>
                    {% if other %}
                    <table class="table">
                        <thead class="table-dark">
                            <tr>
                            <th scope="col">شماره </th>
                            <th scope="col">به نام</th>
                            <th scope="col">تاریخ ثبت سفارش</th>
                            <th scope="col">وضعیت</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in other %}
                            <tr>
                            <th scope="row"><a href="{% url 'order_details' order.id %}">{{order.id}}</a></th>
                            <td>{{order.full_name}}</td>
                            <td>{{order.date_ordered}}</td>
                            <td>{{order.get_status_display}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    سفارشی ندارییی :/
                    {% endif %}
                    <br><br>
                    <h3>سفارشات تحویل داده شده</h3>
                    {% if delivered %}
                    <table class="table">
                        <thead class="table-success">
                            <tr>
                            <th scope="col">شماره </th>
                            <th scope="col">به نام</th>
                            <th scope="col">تاریخ تحویل سفارش</th>
                            <th scope="col">وضعیت</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in other %}
                            <tr>
                            <th scope="row"><a href="{% url 'order_details' order.id %}">{{order.id}}</th>
                            <td>{{order.full_name}}</td>
                            <td>{{order.last_update |date:"Y-m-d H:i:s"}}</td>
                            <td>{{order.get_status_display}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    سفارشی ندارییی :/
                    {% endif %}
                </p>
            </div>
        </center>
    </div>
</div>
<br><br><br><br>

{% endblock %}