{% extends 'base.html' %}
{% block content %}
<header class="bg-dark py-1">
    <div class="container px-4 px-lg-5 my-3">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">ویرایش رمزعبور</h1>
        </div>
    </div>
</header>
<br><br>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <form method="POST" action="{% url 'update_password' %}">
                    {% csrf_token %}<!--امنیت برای هک نشدن-->
                    {{form.as_p}}
                    <br>
                    
                    <button type="submit" class="btn btn-primary">ویرایش رمزعبور</button>
                </form>
            </div>
        </center>
    </div>
</div>
<br><br>
{% endblock %}